@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@500;500&display=swap');

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

html {
  scroll-behavior: smooth;
}

@layer base {
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}